
body{
    display: flex;
}


div{
    width: 100px;
    height: 100px;
    border: 2px solid green;
}
/* .box1{
    border: 1px solid greenyellow;
    width: 100px;
    height: 100px;
}
.box2{
    border: 1px solid greenyellow;
    width: 100px;
    height: 100px;
}
.box3{
    border: 1px solid greenyellow;
    width: 100px;
    height: 100px;
} */
/* .box{
background-color: green;
} */